# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Secrets
.env
*.env

# AWS credentials
.aws/
credentials

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Playwright
test-results/
playwright-report/
